.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

table {
    border: 1px solid #000;
    border-collapse: collapse;
    width: 800px;

    thead {
        background-color: #000;

        th, td {
            padding: 0.6em;
            border: 1px solid #000;
            color: #fff;
            text-align: left;
        }
    }

    tbody {
        background-color: aquamarine;
        
        th, td {
            padding: 0.6em;
            border: 1px solid #000;
            text-align: left;

            button {
                background-color: #c62828;
                border: none;
                color: white;
                border-radius: 3px;
                padding: 3px 6px;
                font-size: 14px;
                cursor: pointer;

                &:hover {
                    background-color: #a62828;
                    transition: all;
                    transition-duration: 150ms;
                }
            }
        }
    }
}