<div class="container">
    <h1>{{ title }}</h1>
    <table>
        <thead>
            <tr>
                <th>Descrição</th>
                <th>Valor</th>
                <th>Tipo</th>
                <th>Data</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Spotify</td>
                <td>R$ 27,90</td>
                <td>Despesa</td>
                <td>10/08/2025</td>
            </tr>
            <tr>
                <td>Internet</td>
                <td>R$ 55,00</td>
                <td>Receita</td>
                <td>06/08/2025</td>
            </tr>
            <tr>
                <td>Max</td>
                <td>R$ 29,99</td>
                <td>Despesa</td>
                <td>14/08/2025</td>
            </tr>
        </tbody>
    </table>
</div>